/* Variables */

:root {

    /* Fonts */
    --font-en: 'Open Sans', 'Corbel', 'Dubai', 'Arial', sans-serif;             /* Default English Typefaces */
    --font-zh: 'Noto Sans TC' , 'PingFang' , 'Microsoft JhengHei', sans-serif;  /* Default Chinese Typefaces */

    /* Colors */
    --bg-day: #FFF;                                                            /* Background color (Day) */
    --bg-night: #333;                                                          /* Background color (Night) */
    --pink-day: #D8B;                                                          /* Pink color (Day) */
    --pink-night: #A36;                                                        /* Pink color (Night) */
    --blue-day: #AAE;                                                          /* Blue color (Day) */
    --blue-night: #22B;                                                        /* Blue color (Night) */
    --green-day: #6CA;                                                         /* Green color (Day) */
    --green-night: #286;                                                       /* Green color (Night) */
    --nav-day: #FFF;                                                           /* Navbar color (Day) */
    --text-day: #222;                                                          /* Text color (Day) */
    --text-night: #EEE;                                                        /* Text color (Night) */
    --deactive-day: #AAA;                                                      /* Deactive color (Day) */
    --deactive-night: #666;                                                    /* Deactive color (Night) */
    --prohibit-day: #F00;                                                      /* Prohibit color (Day) */
    --prohibit-night: #F00;                                                    /* Prohibit color (Night) */
    --input-day: #07F;                                                         /* Input color (Day) */
    --input-night: #0AF;                                                       /* Input color (Night) */
    --list-day: #DDD;                                                          /* List color (Day) */
    --list-night: #666;                                                        /* List color (Night) */
    --list-hover-day: #BBB;                                                    /* Hovered list option color (Day) */
    --list-hover-night: #888;                                                  /* Hovered list option color (Night) */
    --scroll-day: #999;                                                        /* Scrollbar thumb color (Day) */
    --scroll-night: #AAA;                                                      /* Scrollbar thumb color (Night) */

    /* Gradients */
    --highlight-day: linear-gradient(90deg, #FC5 0%, #D90 100%);              /* Hover gradient (Day)*/
    --highlight-night: linear-gradient(90deg, #C92 0%, #A70 100%);            /* Hover gradient (Night)*/

    /* Times */
    --animation-duration: 0.75s;                                                /* Animation duration */

    /* Urls */
    --img-classic-day: url('src/Classic-day.svg');
    --img-classic-night: url('src/Classic-night.svg');
    --img-drop-day: url('src/Drop-day.svg');
    --img-drop-night: url('src/Drop-night.svg');
    --img-github-day: url('src/GitHub-day.svg');
    --img-github-night: url('src/GitHub-night.svg');
    --img-random-day: url('src/Random-day.svg');
    --img-random-night: url('src/Random-night.svg');

}


/* Properties */

::-webkit-scrollbar {

    background: transparent;
    display: none;
    width: .5em;
    
}

.day ::-webkit-scrollbar-thumb {

    background: var(--scroll-day);
    
}

.night ::-webkit-scrollbar-thumb {

    background: var(--scroll-night);
    
}


/* Universal Settings */

html {

    font-family: var(--font-en);
    font-size: 130%;

}

/* Screen width specific (RWD) */

@media (max-width: 699px) {

    .option-container {

        flex-direction: column;
        justify-content: flex-start;

    }

    .option {

        flex-direction: column;
        margin-right: 5vw;

    }

    .option .heading::before {

        margin-right: .5em;

    }

    .option .desc {

        margin-left: 3.35em;
        margin-top: -2em;

    }

}

@media (min-width: 700px) {

    .option-container {

        flex-direction: row;
        justify-content: space-around;
        margin-right: 5vw;
    
    }

    .option-container * {

        align-items: center;
        flex-direction: column;

    }

    .option {

        width: 20vw;

    }

    .option .heading::before {

        margin-bottom: -0.3em;

    }

}



/* State-Indicating Classes */

/**
 * Bright theme's styles. [.day]
 */
 html.day {

    background: var(--bg-day);
    color: var(--text-day);

}

/**
 * Deactive button's styles. [.deactive]
 */

.day .deactive {

    border-color: var(--deactive-day);
    color: var(--deactive-day);

}

.day .deactive:where(:hover,:focus-visible) {

    background: none;
    border-color: var(--deactive-day);
    color: var(--deactive-day);

}

.day .deactive:focus-visible {

    outline-color: var(--prohibit-day);
}

.night .deactive {

    border-color: var(--deactive-night);
    color: var(--deactive-night);

}

.night .deactive:where(:hover,:focus-visible) {

    background: none;
    border-color: var(--deactive-night);
    color: var(--deactive-night);

}

.night .deactive:focus-visible {

    outline-color: var(--prohibit-night);
}

/**
 * Control previous pages based on user's location. [.fin]
 */

/**
 * Control upcomming pages based on user's location. [.hold]
 */

/**
 * Dark theme's styles. [.night]
 */
 html.night {

    background: var(--bg-night);
    color: var(--text-night);

}

/**
 * Remove the element. [.none]
 */
 .none {

    display: none;

}



/* General Classes */

/**
 * Page structures' styles. [.container]
 */
.container {

    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    opacity: 1;
    -webkit-transition-property:  opacity, transform, visibility;
    transition-property: opacity, transform, visibility;
    -webkit-transition-duration: var(--animation-duration);
    transition-duration: var(--animation-duration);
    visibility: visible;

}

.hold .container {

    opacity: 0;
    transform: translateY(56vh);
    visibility: hidden;

}

.fin .container {

    opacity: 0;
    transform: translateY(-56vh);
    visibility: hidden;

}

/**
 * Dots' styles. [.dot]
 */
.dot {

    clip-path: circle();
    display: flex;
    shape-outside: circle();
    opacity: 1;
    position: absolute;
    -webkit-transition-property:  opacity, bottom, visibility;
    transition-property: opacity, bottom, visibility;
    -webkit-transition-duration: var(--animation-duration);
    transition-duration: var(--animation-duration);
    visibility: visible;

}

.fin .dot {

    opacity: 0;
    visibility: hidden;

}

.dot:nth-child(1) {

    bottom: 15%;
    height: 30vw;
    left: -8%;
    width: 30vw;
    z-index: -2;

}

.fin .dot:nth-child(1) {

    bottom: 71%;

}

.day .dot:nth-child(1) {

    background: var(--pink-day);

}

.night .dot:nth-child(1) {

    background: var(--pink-night);

}

.dot:nth-child(2) {

    bottom: 25%;
    height: 35vw;
    left: 15%;
    width: 35vw;
    z-index: -1;

}

.fin .dot:nth-child(2) {

    bottom: 81%;

}

.day .dot:nth-child(2) {

    background: var(--blue-day);

}

.night .dot:nth-child(2) {

    background: var(--blue-night);

}

.dot:nth-child(3) {

    bottom: 20%;
    height: 20vw;
    left: 40%;
    width: 20vw;
    z-index: -2;

}

.fin .dot:nth-child(3) {

    bottom: 76%;

}

.day .dot:nth-child(3) {

    background: var(--green-day);

}

.night .dot:nth-child(3) {

    background: var(--green-night);

}

/**
 *  Polyfill <select> element's exterior [.dropdown] 
 */
.dropdown {

    appearance: none;
    background: none;
    border: none;
    font-family: var(--font-en);
    font-size: 100%;
    margin-top: 10vh;
    padding: 0;
    width: 100%;

}

.day .dropdown {

    border-bottom: .1em var(--text-day) solid;
    color: var(--text-day);

}

.night .dropdown {

    border-bottom: .1em var(--text-night) solid;
    color: var(--text-night);

}

.dropdown::selection {

    background: inherit;
    color: inherit;

}

/**
 * External links' styles. [.exlink]
 */
.exlink {

    display: flex;
    flex: 1;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0;

}

.exlink.author {

    justify-content: flex-end;

}

.exlink.author::before {

    height: 1em;
    margin-right: .5em;
    width: 1em;

}

.exlink.repo {

    justify-content: flex-start;

}

/**
 * Footer's styles. [.footer]
 */
.footer {

    display: flex;
    bottom: 2vh;
    left: 0;
    position: fixed;
    -webkit-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    width: 100%;

}

.footer :not(:last-child)::after {

    content: '．';

}

.fin.footer {

    opacity: 0;
    visibility: hidden;

}

/*
 *  Grids. [.grid]
 */
 .grid {

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto minmax(5vh,auto) minmax(8vh,auto));
    margin-top: 5vh;

 }

 .grid * {

    display: flex;
    margin: auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

 }

/**
 * Icons. [.icon]
 */
.day .icon.author::before {

    content: var(--img-github-day);

}

.night .icon.author::before {

    content: var(--img-github-night);

}
.day .icon.classic::before {

    content: var(--img-classic-day);

}

.night .icon.classic::before {

    content: var(--img-classic-night);

}

.day .icon.random::before {

    content: var(--img-random-day);

}

.night .icon.random::before {

    content: var(--img-random-night);

}

/**
 * Subheadings' styles. [.info]
 */
.info {

    align-items: flex-start;
    display: flex;

}

.setting .info {

    margin-right: 5vw;

}

.start .info {

    margin-top: .5em;
    margin-right: 5vw;

}

/**
 * The container to contain <input> elements. [.input] 
 */
 .input {

    height: 50vh;
    position: relative;

 }

/**
 * Polyfill <select> element's dropdown [.list] 
 */
.list {

    list-style-position: outside;
    list-style-type: none;
    max-height: 60vh;
    overflow-y: overlay;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

}

.day .list {

    background: var(--list-day);

}

.night .list {

    background: var(--list-night);

}

.list::-webkit-scrollbar {

    display: block;

}

/**
 * Polyfill <select> element's dropdown option [.list-option] 
 */
.list-option {

    overflow: hidden;
    padding: 0 .5em;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.day .list-option:hover {

    background-color: var(--list-hover-day);

}

.night .list-option:hover {

    background-color: var(--list-hover-night);

}

/**
 * Navagation bars' styles. [.navbar]
 */
.navbar {

    display: flex;
    width: 100%;

}

/**
 * Options' styles. [.option]
 */
.option {

    background-repeat: no-repeat;
    background-size: 0 100%;
    border: .1em solid;
    border-radius: .5em;
    margin-top: 1em;
    overflow: hidden;
    padding: 1em;
    transition: background-size .4s;

}

.day .option {

    border-color: var(--text-day);
    background-image: var(--highlight-day);

}

.night .option {

    border-color: var(--text-night);
    background-image: var(--highlight-night);

}

/* 
    Reference source code & author:

        https://stackoverflow.com/questions/52641628/sweep-to-the-right-transition-css, by @Fabrizio Calderan on StackOverflow
    
*/

.option:where(:hover,:focus-visible) {

    background-size: 100% 100%;

}

/**
 * Option containers' styles. [.option-container]
 */
.option-container {

    display: flex;
    height: 50vh;

}

.option-container *{

    display: flex;

}

/**
 * Option descriptions' styles. [.option .desc]
 */
.option .desc {

    font-size: 90%;

}

/**
 * Price values' styles. [.preview]
 */
.preview {

    font-size: 150%;
    margin-bottom: 3vh;
    margin-top: 10vh;
    text-align: center;

}

/*
 *  Result's address's styles [.result-address]
 */
 .result-address {

    font-size: 80%;
    font-style: normal;
    grid-column-start: 2;
    grid-column-end: 11;
    margin: 0;

}

/*
 *  Result's category title [.result-category]
 */
.result-category {

    font-size: 80%;
    font-weight: 400;
    grid-column-start: 2;
    grid-column-end: 11;
    padding-top: .5em;

}

.day .result-category {

  color: var(--input-day);

}

.night .result-category {

    color: var(--input-night);
  
  }

/*
 *  Result's category title [.result-category]
 */
.result-link.plain {

    font-weight: 400;
    padding: 0;

}

.day .result-link {

    color: var(--scroll-day);

}

.night .result-link {

    color: var(--scroll-night);

}

.result-link.plain::before {

    content: "⧉";
    padding-right: .3em;

}

/*
 *  Result's review's styles [.result-star]
 */
 .result-star {

    font-size: 120%;
    font-weight: 600;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;

}

/*
 *  Result's title's styles [.result-title]
 */
 .result-title {

    font-size: 120%;
    grid-column-start: 2;
    grid-column-end: 11;

}

/**
 * Sliders' styles. [.slider]
 */
.slider {

    appearance: none;
    border: .1em solid;
    border-radius: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    width: 100%;

}

.day .slider {

    background: var(--list-day);
    border: var(--list-day);

}

.night .slider {

    background: var(--list-night);
    border: var(--list-night);

}

.slider::-webkit-slider-thumb {

    appearance: none;
    border: .1em solid;
    border-radius: 1.5em;
    height: 1.5em;
    width: 1.5em;

}

.day .slider::-webkit-slider-thumb {

    background: var(--scroll-day);
    border: var(--scroll-day);

}

.night .slider::-webkit-slider-thumb {

    background: var(--scroll-night);
    border: var(--scroll-night);

}

/**
 * Step buttons' styles. [.step]
 */
.step {

    margin-left: 0;
    margin-top: 5vh;

}

.step.advanced {

    margin-right: 5vw;
    width: 6.5em;

}

.step.back {

    width: 3.5em;

}

.step.next:first-of-type {

    margin-top: 1em;
    width: 5em;

}

.step.next:not(:first-of-type) {

    width: 3.2em;

}

/**
 * Bottom bar's styles. [.stepbar]
 */
 .stepbar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

 }

/**
 * Headings' styles. [.title]
 */
.title {

    align-items: flex-end;
    display: flex;
    font-size: 130%;
    width: 100%;

}

.navbar .title {

    align-items: center;
    flex: 1;
    font-size: 100%;
    margin-left: 1%;
    width: auto;

}

.setting .title {

    height: 10vh;

}

.start .title {

    height: 30vh;

}

.qs .title {

    height: 10vh;

}

/**
 * Chinese font's styles. [.zh]
 */
.zh {

    font-family: var(--font-zh);

}


/* Elements */

a {

    align-items: center;
    border-radius: .5em;
    display: flex;
    height: 1.4em;
    font-family: var(--font-zh);
    font-weight: 600;
    justify-content: center;
    margin-left: .5em;
    padding: .3em .5em;
    text-decoration: none;
    text-align: center;

}

.day a {

    border: .1em solid var(--text-day);
    color: var(--text-day);
    -webkit-transition: all .1s;
    transition: all .1s;

}

.day a:where(:hover,:focus-visible) {

    background: var(--text-day);
    color: var(--bg-day);
    -webkit-transition: all .3s;
    transition: all .3s;

}

.night a {

    border: .1em solid var(--text-night);
    color: var(--text-night);
    -webkit-transition: all .1s;
    transition: all .1s;

}

.night a:where(:hover,:focus-visible) {

    background: var(--text-night);
    color: var(--bg-night);
    -webkit-transition: all .3s;
    transition: all .3s;

}

a.plain {

    border: none;
    margin: 0;

}

a.plain:where(:hover,:focus-visible) {

    background: none;
    border: none;
    color: inherit;

}

/*
    Reference source code & author:

        https://www.sitepoint.com/css3-transform-background-image/, by Craig Buckler on sitepoint

*/
.dropdown + span::after {

    content: "";
    height: 1em;
    position: absolute;
    right: 0;
    top: 23%;
    -webkit-transition: transform, .1s, translate, .1s;
    transition: transform, .1s, translate, .1s;
    width: 1em;
    z-index: 1;

}

.day .dropdown + span::after {

    background: var(--img-drop-day) 0/1em no-repeat;

}

.night .dropdown + span::after {

    background: var(--img-drop-night) 0/1em no-repeat;

}

.dropdown:focus {

    outline: none;

}

.dropdown:hover + span::after {

    transform: translateY(.1em);

}

.dropdown:focus + span::after {

    transform: rotate(180deg);

}

.day .dropdown:where(:hover,:focus) {

    border-bottom-color: var(--input-day);

}

.night .dropdown:where(:hover,:focus) {

    border-bottom-color: var(--input-night);

}

/* Cursor and others */

/**
 *  Default cursors
 */
h2, h3, h4, h5, h6, p, ul {

    cursor: default;

}

/**
 *  Pointer cursors
 */
h1, li, .dropdown, .option ,.option *, .slider, .slider::-webkit-slider-thumb {

    cursor: pointer;

}

/**
 *  Not-allowed cursors
 */
.deactive {

    cursor: not-allowed;

}

/**
 *  Disable selections
 */
 a, h1, h2, h3, h4, h5, h6, li, p, ul, .dropdown, .option ,.option * {

    -webkit-user-select: none;
    user-select: none;

}

/**
 *  No margin
 */
h1, h2, h3, h4, h5, h6, p, ul {

    margin: 0;
    margin-block: 0;

}