/* Variables */

:root {

    /* Fonts */
    --font-en: 'Open Sans', 'Corbel', 'Dubai', 'Arial', sans-serif;             /* Default English Typefaces */
    --font-zh: 'Noto Sans TC' , 'PingFang' , 'Microsoft JhengHei', sans-serif;  /* Default Chinese Typefaces */

    /* Colors */
    --bg-day: #FFF;                                                            /* Background color (Day) */
    --bg-night: #333;                                                          /* Background color (Night) */
    --mode-to-night: #222;                                                     /* Mode changer color (Day to Night) */
    --mode-to-day: #CA1;                                                       /* Mode changer color (Night to Day) */
    --pink-day: #D8B;                                                          /* Pink color (Day) */
    --pink-night: #A36;                                                        /* Pink color (Night) */
    --blue-day: #AAE;                                                          /* Blue color (Day) */
    --blue-night: #22B;                                                        /* Blue color (Night) */
    --green-day: #6CA;                                                         /* Green color (Day) */
    --green-night: #286;                                                       /* Green color (Night) */
    --nav-day: #FFF;                                                           /* Navbar color (Day) */
    --text-day: #222;                                                          /* Text color (Day) */
    --text-night: #EEE;                                                        /* Text color (Night) */

    /* Gradients */
    --highlight-day: linear-gradient(90deg, #FC5 0%, #D90 100%);
    --highlight-night: linear-gradient(90deg, #C92 0%, #A70 100%);

    /* Times */
    --animation-duration: 0.75s;                                                /* Animation duration */

    /* Urls */
    --img-classic-day: url('src/Classic-day.svg');
    --img-classic-night: url('src/Classic-night.svg');
    --img-github-day: url('src/GitHub-day.svg');
    --img-github-night: url('src/GitHub-night.svg');
    --img-random-day: url('src/Random-day.svg');
    --img-random-night: url('src/Random-night.svg');

}


/* Properties */

::-webkit-scrollbar {

    display: none;
    
}


/* Universal Settings */

html {

    font-family: var(--font-en);
    font-size: 130%;

}

html.day {

    background: var(--bg-day);
    color: var(--text-day);

}

html.night {

    background: var(--bg-night);
    color: var(--text-night);

}


/* Classes */

.back {

    display: flex;
    margin-left: 0;
    margin-top: 5vh;
    width: 3.5em;

}

.dot {

    clip-path: circle();
    display: flex;
    shape-outside: circle();
    position: absolute;

}

.dot:nth-child(1) {

    bottom: 15%;
    height: 30vw;
    left: -8%;
    opacity: 1;
    transition-property: opacity, bottom, visibility;
    -webkit-transition-property:  opacity, bottom, visibility;
    transition-duration: var(--animation-duration);
    -webkit-transition-duration: var(--animation-duration);
    visibility: visible;
    width: 30vw;
    z-index: -2;

}

.fin .dot:nth-child(1) {

    bottom: 71%;
    opacity: 0;
    visibility: hidden;

}

.day .dot:nth-child(1) {

    background: var(--pink-day);

}

.night .dot:nth-child(1) {

    background: var(--pink-night);

}

.dot:nth-child(2) {

    bottom: 25%;
    height: 35vw;
    left: 15%;
    opacity: 1;
    transition-property: opacity, bottom, visibility;
    -webkit-transition-property:  opacity, bottom, visibility;
    transition-duration: var(--animation-duration);
    -webkit-transition-duration: var(--animation-duration);
    visibility: visible;
    width: 35vw;
    z-index: -1;

}

.fin .dot:nth-child(2) {

    bottom: 81%;
    opacity: 0;
    visibility: hidden;

}

.day .dot:nth-child(2) {

    background: var(--blue-day);

}

.night .dot:nth-child(2) {

    background: var(--blue-night);

}

.dot:nth-child(3) {

    bottom: 20%;
    height: 20vw;
    left: 40%;
    opacity: 1;
    transition-property: opacity, bottom, visibility;
    -webkit-transition-property:  opacity, bottom, visibility;
    transition-duration: var(--animation-duration);
    -webkit-transition-duration: var(--animation-duration);
    visibility: visible;
    width: 20vw;
    z-index: -2;

}

.fin .dot:nth-child(3) {

    bottom: 76%;
    opacity: 0;
    visibility: hidden;

}

.day .dot:nth-child(3) {

    background: var(--green-day);

}

.night .dot:nth-child(3) {

    background: var(--green-night);

}

.footer {

    display: flex;
    bottom: 2vh;
    left: 0;
    position: fixed;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    width: 100%;

}

.footer :not(:last-child)::after {

    content: '．';

}

.fin.footer {

    opacity: 0;

}

.footer-author {

    display: flex;
    flex: 1;
    font-size: 0.8em;
    font-weight: 400;
    justify-content: flex-end;
    padding: 0;
    text-align: center;

}

.footer-author::before {

    height: 1em;
    margin-right: .5em;
    width: 1em;

}

.day .footer-author::before {

    content: var(--img-github-day);

}

.night .footer-author::before {

    content: var(--img-github-night);

}

.footer-repo {

    display: flex;
    flex: 1;
    font-size: 0.8em;
    font-weight: 400;
    justify-content: flex-start;
    padding: 0;
    text-align: center;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: var(--animation-duration);
    -webkit-transition-duration: var(--animation-duration);

}

.day .icon-classic::before {

    content: var(--img-classic-day);

}

.night .icon-classic::before {

    content: var(--img-classic-night);

}

.day .icon-random::before {

    content: var(--img-random-day);

}

.night .icon-random::before {

    content: var(--img-random-night);

}


.navbar {

    display: flex;
    width: 100%;

}

.nav-title {

    align-items: center;
    display: flex;
    flex: 1;
    font-size: 100%;
    margin-left: 1%;

}

.none {

    display: none;

}

.option {

    background-repeat: no-repeat;
    background-size: 0 100%;
    border: .1em solid;
    border-radius: .5em;
    margin-top: 1em;
    overflow: hidden;
    transition: background-size .4s;

}

.day .option {

    border-color: var(--text-day);
    background-image: var(--highlight-day);

}

.night .option {

    border-color: var(--text-night);
    background-image: var(--highlight-night);

}

/* 
    Reference source code & author:

        https://stackoverflow.com/questions/52641628/sweep-to-the-right-transition-css, by @Fabrizio Calderan on StackOverflow
    
*/

.option:hover, .option:focus-visible {

    background-size: 100% 100%;

}

.option-container {

    display: flex;
    height: 50vh;

}

.option-container *{

    display: flex;

}

.option-info {

    font-size: 90%;

}

.setting-container {

    display: flex;
    flex-direction: column;
    margin-left: 5%;
    opacity: 1;
    transition-property: opacity, transform, visibility;
    -webkit-transition-property:  opacity, transform, visibility;
    transition-duration: var(--animation-duration);
    -webkit-transition-duration: var(--animation-duration);
    visibility: visible;

}

.hold .setting-container {

    opacity: 0;
    transform: translateY(56vh);
    visibility: hidden;

}

.setting-info {

    align-items: flex-start;
    display: flex;
    margin-right: 5vw;

}

.setting-title {

    align-items: flex-end;
    display: flex;
    height: 10vh;
    font-size: 130%;
    width: 100%;

}

.start-container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    opacity: 1;
    transition-property: opacity, transform, visibility;
    -webkit-transition-property:  opacity, transform, visibility;
    transition-duration: var(--animation-duration);
    -webkit-transition-duration: var(--animation-duration);
    visibility: visible;

}

.fin .start-container {

    opacity: 0;
    transform: translateY(-56vh);
    visibility: hidden;

}

.start-explore {

    display: flex;
    margin-left: 0;
    margin-top: 1em;
    width: 5em;

}

.start-info {

    align-items: flex-start;
    display: flex;
    margin-top: .5em;
    margin-right: 5vw;

}

.start-title {

    align-items: flex-end;
    display: flex;
    font-size: 130%;
    height: 30vh;
    width: 100%;

}

.zh {

    font-family: var(--font-zh);

}


/* Elements */

a {

    align-items: center;
    border-radius: .5em;
    display: flex;
    height: 1.4em;
    font-family: var(--font-zh);
    font-weight: 600;
    justify-content: center;
    margin-left: .5em;
    padding: .3em .5em;
    text-decoration: none;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;

}

.day a {

    border: .1em solid var(--text-day);
    color: var(--text-day);
    transition: all .1s;
    -webkit-transition: all .1s;

}

.day a:hover, .day a:focus-visible {

    background: var(--text-day);
    color: var(--bg-day);
    transition: all .3s;
    -webkit-transition: all .3s;

}

.night a {

    border: .1em solid var(--text-night);
    color: var(--text-night);
    transition: all .1s;
    -webkit-transition: all .1s;

}

.night a:hover, .night a:focus-visible {

    background: var(--text-night);
    color: var(--bg-night);
    transition: all .3s;
    -webkit-transition: all .3s;

}

a.plain {

    border: none;
    margin: 0;

}

a.plain:hover, a.plain:focus-visible {

    background: none;
    border: none;
    color: inherit;

}

h1, h2, h3, h4, h5, h6, p {

    cursor: default;
    margin: 0;
    margin-block: 0;
    user-select: none;
    -webkit-user-select: none;

}

h1, .option ,.option * {

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

}


/* Screen width specific (RWD) */

@media (max-width: 699px) {

    .option-container {

        flex-direction: column;
        justify-content: flex-start;

    }

    .option {

        flex-direction: column;
        margin-right: 5vw;
        padding: 1em;

    }

    .option-heading::before {

        margin-right: .5em;

    }

    .option-info {

        margin-left: 3.35em;
        margin-top: -2em;

    }

}

@media (min-width: 700px) {

    .option-container {

        flex-direction: row;
        justify-content: space-around;
    
    }

    .option-container * {

        align-items: center;
        flex-direction: column;

    }

    .option {

        padding: 1em;
        width: 20vw;

    }

    .option-heading::before {

        margin-bottom: -0.3em;

    }

}